/*#95E23C*/
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Mukta", sans-serif;
}

/*Header*/

header {
    position: relative;
    width: 100%;
    z-index: 10;
}

header .topbar {
    background-color: black;
    padding: 10px;
    height: 50px;
    position: relative;
}

header .topbar .topbarleft {
    left: 30px;
    top: 11.5px;
    position: absolute;
}

header .topbar .topbarleft a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 12.5px;
    cursor: pointer;
    transition: 0.4s;
}

header .topbar .topbarleft a:hover {
    color: #bf9e32
}

header .topbar .topbarleft p {
    font-weight: 600;
    font-size: 12.5px;
    color: white;
    line-height: 2.3;
    cursor: pointer;
}

header .topbar .topbarright {
    right: 30px;
    position: absolute;
    top: 11.5px;
}

header .topbar .topbarright a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 12.5px;
    cursor: pointer;
    transition: 0.4s;
}

header .topbar .topbarright a:hover {
    color: #bf9e32;
}

header .topbar .topbarright p {
    font-weight: 600;
    font-size: 12.5px;
    color: white;
    line-height: 2.3;
    cursor: pointer;
}

header .middleheader {
    background-color: black;
    padding: 40px 30px 40px 30px;
    position: relative;
    height: 150px;
    width: 100%;
}

header .centeredlogo img {
    width: 520px;
    height: 105px;
}

header .menuicon {
    position: absolute;
    top: 50px;
    left: 30px;
}

header .menuicon button {
    background-color: white;
    border-radius: 50%;
    border: none;
    width: 50px;
    height: 50px;
    font-size: 17.5px;
    cursor: pointer;
}

header .centeredlogo {
    position: absolute;
    top: 20px;
    left: 450px;
}

header .ecommercefunctions {
    position: absolute;
    top: 50px;
    right: 30px;
}

header .ecommercefunctions button {
    background-color: white;
    border-radius: 50%;
    border: none;
    width: 50px;
    height: 50px;
    margin-right: 20px;
    font-size: 17.5px;
    cursor: pointer;
}

header .ecommercefunctions button:last-child {
    margin-right: 0px;
}

header .bottomheader {
    position: relative;
    text-align: center;
    background-color: black;  
    padding: 25px;
}

header .bottomheader li {
    list-style: none;
    display: inline;
    margin: 20px;
}

header .bottomheader a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    transition: 0.4s;
}

header .bottomheader a:hover {
    color: #bf9e32
}

/*Welcom Section*/

.welcome {
    position: relative;
    width: 100%;
    height: 75vh;
    right: 0;
    display: flex;
    align-items: center;
}

.welcome video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.welcomeoverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.55);
 
}

/*Intro*/

.intro {
    background-attachment: fixed;
    height: 60vh;
    position: relative;
    background-image: url(intro.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.loveourproducts {
    background-attachment: fixed;
    height: 60vh;
    position: relative;
    background-image: url(bottom.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bottomoverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}

.bottomtext {
    position: absolute;
    right: 150px;
    top: 20vh;
    text-align: right;
}

.bottomtext h2 {
    color: white;
    font-weight: 900;
    font-size: 28px;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    margin-bottom: 7.5px;
}

.bottomtext p {
    text-transform: uppercase;
    color: white;
    font-weight: 500;
    font-size: 21px;
    margin-bottom: 7.5px;
    font-family: "Poppins", sans-serif;
}

/*Footer*/

footer {
    padding: 50px;
    width: 100%;
    background-color: black;
    color: white;
}

footer .footerrows:after {
    content: "";
    display: table;
    clear: both;
}

footer .footercolumns {
    float: left;
    width: 33.33%;
}

